/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	z-index: 1;
}

a {
	margin: 15px;
	color: #2997ff;
	font-size: 19px; 
	font-weight: 400; /*from official website*/
	text-decoration: none;
	font-family: sans-serif;
}

a:hover {
	 text-decoration: underline; 
}

a i {
	font-size: 15px;
}

h5 {
	color: #bf4800;
	opacity: 0.8;
}

/* Main */
.navbar {
	width: 100%;
	height: 100%;
	background: #000;
}

#navi {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 99;
}

ul {
	z-index: 99;
	width: 100%;
	padding: 15px 20px;
	display: -webkit-flex; /* property support -webkit- chrome and safari*/
	display: -ms-flex; /* property support -ms- microsoft edge*/
	display: flex;
	list-style: none;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.8); /* 0.0(fully transparent) 1.0(fully opaque)*/
	backdrop-filter: blur(6px); /* https://css-tricks.com/backdrop-filter-effect-with-css/ */
	cursor: pointer; /* https://www.w3schools.com/cssref/playit.asp?filename=playcss_cursor&preval=pointer */
}

ul li {
	display: inline-block;
}

ul li a {
	color: #9f9f9f;
	margin: 0;
	font-size: 14px; /*from official website*/
}

ul li a:hover {
	color: whitesmoke;
	text-decoration: none;
}

.watch {
	padding-top: 100px;
	text-align: center;
	background: #000;
}

.watch h1 {
	margin-left: -20px;
	color: #fff;
	font-weight: 600;
	font-family: arial;
	letter-spacing: 0.03em;
}

.watch p {
	color: #bd1c26;
	font-weight: 700;
	font-family: arial;
	letter-spacing: 0.12em;
	font-size: 14px;

}

.watch h3 {
	color: #fff;
	margin-top: 12px;
	font-size: 21px;
	font-weight: 400;
	font-family: sans-serif;
	letter-spacing: 0.02em;
}

.links {
	margin-top: 22px;
}

.watchpic {
	margin-top: 40px;
}

/* Section 2 */
.ipad {
	padding-top: 68px;
	text-align: center;
	height: 100%;
}

.ipad h1 {
	margin-top: 5px;
	font-size: 45px;
	opacity: 0.9; /*https://www.w3schools.com/css/css_image_transparency.asp*/
}

.ipad p {
	margin-top: 10px;
	font-size: 25px;
	opacity: 0.95;
}

.watchse {
	padding-top: 100px;
	text-align: center;
}
.watchse h1 {
	margin-left: -20px;
	font-weight: 600;
	font-family: arial;
	letter-spacing: 0.03em;
}

.watchse p {
	color: #bd1c26;
	font-weight: 700;
	font-family: arial;
	letter-spacing: 0.12em;
	font-size: 14px;

}

.watchse h3 {
	font-size: 21px;
	font-weight: 400;
	font-family: sans-serif;
	letter-spacing: 0.02em;
}

.se {
	margin-top: 10px;
	opacity: 0.9;
}

/* Section 3 */
.papa {
	margin: 20px 10px; /* clockwise direction */
	display: grid; /* https://www.w3schools.com/css/css_grid.asp */
	grid-template-columns: repeat(2, 1fr); /* Specifies the size of the columns, and how many columns in a grid layout */
	grid-template-rows: repeat(3, 1fr);
	gap: 0.7em; /* https://teamtreehouse.com/community/grid-gap-properties-obsolete */
	
}

.child1, .child2, .child3, .child4, .child5, .child6 {
	background: #fbfbfd;
	position: relative;
}

.child1, .child2, .child3, .child4, .child5, .child6 {
	text-align: center;
	
}

.child1 {
	background: linear-gradient(238deg, #ffca6b 0, #e6976c 44%, #ee597d 100%);
}

.child5 {
	background: url('child5.jpg');
}

.child6 {
	background: url('child6.jpg');
}

.child5, .child6 {
	background-position: top center;
	background-size: cover; /* resize background to cover entire container*/
}

/* Child1 */
.heading h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 22px;
	font-size: 30px;
	color: #4f2318;
}

.child1 img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	margin-top: 20px;
}

/* Child2 */
.child2 p {
	/* margin-top: 15px; */
	font-size: 18px;
	opacity: 0.9;
}

.child2 img {
	margin-top: 60px;
}

/* Child3 */
.wrap {
	margin-top: -220px;
}

.wrap h1 {
	margin-top: -10px;
	font-family: cursive;
	font-size: 65px;
}

.wrap h3 {
	font-size: 22px;
	opacity: 0.9;
}

/* Child4 */
.child4 {
	background: #f2f2f2;
}

.child4 h1 {
	opacity: 0.9;
	margin-top: 40px;
}

.child4 p {
	margin-top: 10px;
	font-size: 22px;
	opacity: 0.9;
}

.child4 img {
	margin-top: 30px;
}

/* Child5 */
.child5 h1, .child5 p, .child5 a {
	color: #fff!important;
}

.child5 h1 {
	margin-top: 330px;
	margin-bottom: 10px;
}

.child5 p {
	font-size: 22px;
}

/* Child6 */
.child6 h1 {
	margin-top: 40px;
	margin-bottom: 10px;
	color: #fff!important;
}

.end {
	margin: 30px 12px;
	color: #888;
	font-size: 13px;
	text-align: center;
}


